<div class="not-found-container">
  <mat-card>
    <mat-card-header>
      <div>
        <img
          src="assets/images/pages/not-found.webp"
          width="300"
          height="300"
          alt="No encontrada"
        />
        <mat-card-title>Página no encontrada</mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p>Lo sentimos, la página que estás buscando no existe.</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-flat-button color="primary" href="/main">Ir al inicio</a>
    </mat-card-actions>
  </mat-card>
</div>
