<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Contrato 202d-adf</mat-card-title>
    <div class="d-flex flex-wrap gap-20">
      <div class="max-width-fit">
        <p><strong>Fecha de inicio:</strong> 25-10-2024</p>
        <p><strong>Fecha de fin:</strong> 25-10-2025</p>
        <p><strong>Fecha de firma:</strong> 25-10-2024</p>
        <p><strong>Valor total:</strong> 1020.23</p>
      </div>
      <div class="max-width-fit">
        <p><strong>Provincia:</strong>Tungurahua</p>
        <p><strong>Canton:</strong> 25-10-2025</p>
        <p><strong>Parroquia:</strong> 25-10-2024</p>
        <p><strong>Sector:</strong> 1020.23</p>
      </div>
    </div>
    <mat-tab-group>
      <mat-tab label="Incrementos"> Content 1 </mat-tab>
      <mat-tab label="Pagos"> Content 2 </mat-tab>
      <mat-tab label="Documentos"> Content 3 </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
